{% extends "MOM.html" %}
{% block change_pwd %}
        <div align="center">
        <h2><strong>修改密码</strong></h2>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="col-md-offset-4">
        <hr/>
        <form action="" method="post" class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">用户名：</label>
                <div class="col-sm-5">
                    <p class="form-control-static">zhangsan</p>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label for="old_password" class="col-sm-2 control-label">旧密码：</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="old_password" name="old_password">
                </div>
            </div>
            <br/>
             <div class="form-group">
                <label for="new_password" class="col-sm-2 control-label">新密码：</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="new_password" name="new_password">
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label for="confirm_new_password" class="col-sm-2 control-label">确认新密码：</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password">
                </div>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-lg" style="width: 200px;" value="保存"/>
                <input type="reset" class="btn btn-warning btn-lg" style="width: 200px;" value="取消"/>
            </div>
        </form>
    </div>

{% endblock %}
