{% extends "MOM.html" %}
{% block edit_user %}
    <div align="center">
        <h2><strong>编辑用户</strong></h2>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="col-md-offset-4">
        <hr/>
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">用户名：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control check_data" id="username" name="username" placeholder="张三">
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">密码：</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="password" name="password">
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label for="confirm_password" class="col-sm-2 control-label">确认密码：</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control check_data" id="confirm_password"
                           name="confirm_password">
                </div>
            </div>
            <br/>
            <div class="form-group" id="error" style="display: none;">
                <label for="error_msg" class="col-sm-2 control-label">错误信息：</label>
                <div class="col-sm-5">
                    <p id="error_msg" class="form-control-static" style="color: red;"></p>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" disabled="disabled" id="save"
                       style="width: 200px;" value="保存"/>
                <input type="reset" class="btn btn-warning"
                       style="width: 200px;" value="取消"/>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        {% if create_user_status %}
            alert("创建用户成功！")
        {% endif %}
        $(function () {
            var flag = false
            $(".check_data").focus(function () {
                $("#error").hide()
            })
            $(".check_data").blur(function () {
                $.ajax({
                    async: true,
                    url: "/user_management/edit_user/",
                    type: "post",
                    data: {
                        "username": $("#username").val(),
                        "password": $("#password").val(),
                        "confirm_password": $("#confirm_password").val(),
                        "csrfmiddlewaretoken": "{{ csrf_token }}"
                    },
                    complete: function () {
                        if (flag)
                            $("#save").removeAttr("disabled")
                        else
                            $("#save").attr("disabled", "disabled")
                    },
                    success: function (data) {
                        if (data.status) {
                            {#貌似form里的input的next取不到?扯nm的犊子#}
                            {#alert($(this).next().text(data.msg));#}
                            $("#error").show()
                            $("#error_msg").text(data.msg)
                            flag = false
                        }
                        else
                            flag = true
                    }
                });
            });
        });
    </script>
{% endblock %}
