{% extends 'MOM.html' %}
{% block add_data %}
    <style>
        #dataname{
            width: 500px;
            margin-right: 5px;
        }
        .addpage{
            width: 300px;
            margin-right: 5px;
        }
        {#.suffix{#}
        {#    display: inline-block;#}
        {# }#}
        .row{
            margin-bottom: 8px;
        }

    </style>
    <form action="/data_manage/add/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <p><span>基本资料信息</span><span class="pull-right" style="color: #9d9d9d">注:带有*项必填</span></p>
            <hr>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="dataname">资料名称</label>
                <input type="text" class="form-control suffix" id="dataname" name="dataname">
                <span style="color: red">*</span>
            </div>
        </div>

        <div class="row">
            <div class="selected">
                <label for="ddatacategory">资料分类</label>
                <select class="form-control addpage suffix" id="datacategory" name="category">
                    <option style="color: #9d9d9d" hidden>请选择资料分类</option>
                    {% for cate in category %}
                        <option value="{{ cate.id }}">{{ cate.title }}</option>
                    {% endfor %}
                </select><span style="color: red">*</span>
            </div>
        </div>

        <div class="row">
            <div>
                <label for="datafile">上传文件</label>
                <input type="file" id="datafile" class="suffix" name="datafile"><span style="color: red">*</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="datauser">发布者</label>
                <input type="text" class="form-control addpage suffix" id="datauser" name="datauser">
                <span style="color: red">*</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
{% endblock %}