{% extends 'MOM.html' %}
{% block add_data %}
    <style>
        #dataname{
            width: 500px;
            margin-right: 5px;
        }
        .addpage{
            width: 300px;
            margin-right: 5px;
        }
        .row{
            margin-bottom: 20px;
        }
    </style>
    <form id="dataform" action="/data_manage/add/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <p><span>基本资料信息</span><span class="pull-right">所有项均为必填项</span></p>
            <hr>
        </div>

        <div class="row">
            <div class="form-group col-lg-8">
                <label for="dataname">资料名称</label>
                <input type="text" class="form-control suffix" id="dataname" name="dataname">
            </div>
        </div>

        <div class="row">
            <div class="selected col-lg-3">
                <label for="ddatacategory">资料分类</label>
                <select class="form-control addpage suffix" id="datacategory" name="category">
                    <option style="color: #9d9d9d" hidden>请选择资料分类</option>
                    {% for cate in category %}
                        <option value="{{ cate.id }}">{{ cate.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <label for="datafile">上传文件</label>
                <input type="file" id="datafile" class="suffix" name="datafile">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-3">
                <label for="datauser">发布者</label>
                <input type="text" class="form-control addpage suffix" id="datauser" name="datauser">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="databtn">提交</button>
    </form>
<script src="/static/bootstrap/js/edit&add_data_op.js"></script>
<script type="text/javascript">

</script>
{% endblock %}
