{% extends 'MOM.html' %}

{% block check_data %}
{#<h1>nihao</h1>#}
<div class="row" style="margin-bottom: 3px">
    <form action="/data_manage/add/" method="get">
        {% csrf_token %}
        <button class="btn btn-primary">新增文件</button>
    </form>
</div>

<div class="row">
    <table class="table table-bordered">
        <thead>
                    <td><input type="checkbox"></td>
                    <td>{{ headname.0 }}</td>
                    <td>{{ headname.1 }}</td>
                    <td>{{ headname.6 }}</td>
                    <td>{{ headname.5 }}</td>
                    <td>{{ headname.3 }}</td>
                    <td>{{ headname.4 }}</td>
        </thead>
        <tbody>
            {% for data in datalist %}
                <tr>
                {{ data.ver }}
                    <td><input type="checkbox"></td>
                    <td>{{ data.id }}</td>
                    <td>{{ data.data_name }}</td>
                    <td>{{ data.category }}</td>
                    <td>{{ data.user.username }}</td>
                    <td>{{ data.create_time }}</td>
                    <td>{{ data.update_time }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}