{% extends 'MOM.html' %}
{% block add_data %}
    <style>
        #dataname{
            width: 500px;
            margin-right: 5px;
        }
        .addpage{
            width: 300px;
            margin-right: 5px;
        }
        .row{
            margin-bottom: 20px;
        }
    </style>
    <form id="dataform" action="/data_manage/edit_category/{{ category.id }}/" method="post">
        {% csrf_token %}
        <div class="row">
            <p><span>基本类别信息</span><span class="pull-right">所有项均为必填项</span></p>
            <hr>
        </div>

        <div class="row">
            <div class="form-group col-lg-8">
                <label for="dataname">类别名称</label>
                <input type="text" class="form-control suffix" id="dataname" name="category_name" value="{{ category.title }}">
                <input type="text" name="category_id"  style="display: none" value="{{ category.id }}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="databtn">提交</button>
    </form>
<script src="/static/bootstrap/js/edit&add_category_op.js">
</script>
{% endblock %}
