<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link href='/static/bootstrap/css/bootstrap.min.css' rel="stylesheet">
    <link rel="stylesheet" href="/static/bootstrap/css/style.css"/>
    <script src="/static/bootstrap/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    {% block css %}
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
{#导航栏#}
<div>
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">后台管理系统</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!--//navbar-left，navbar-right类控制导航栏中属性的靠左还是靠右-->
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>

                    <li>
                        <a href="#"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> 权限管理</a>
                    </li>
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 用户管理</a>
                    </li>
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 系统日志</a>
                    </li>
                    <li>
                        <a href="#" class="disabled"><i class="fa fa-users" aria-hidden="true"></i> 在线人数</a>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            用户<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a style="font-weight: bolder">个人中心</a></li>
                            <li><a style="font-weight: bolder">注销</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
{#中间主要内容:左侧菜单以及显示内容#}
<div class="row">
    {#左侧菜单#}
    <div class="col-lg-2">
        <div id="wrapper">
            <div class="overlay"></div>

            <!-- Sidebar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand"></li>
                    <li>
                        <a href="#"><span
                                class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;主页</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;客户管理</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header"></li>
                            <li><a href="/organization/">客户列表</a></li>
                            <li><a href="/organization/add/">创建信息</a></li>
                            <li><a href="/organization/linkman_list/">联系人列表</a></li>
                            <li><a href="/organization/linkman_add/">创建联系人</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle"
                                                                                      aria-hidden="true"></i>&nbsp;&nbsp;员工管理</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header"></li>
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;&nbsp;资料库管理</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header"></li>
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;用户管理</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header"></li>
                            <li><a href="//">创建用户</a></li>
                            <li><a href="#">用户授权</a></li>
                            <li><a href="#">编辑用户</a></li>
                            <li><a href="#">修改密码</a></li>
                            <li><a href="#">用户资料</a></li>
                            <li><a href="#">搜索用户</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span
                                class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;安全退出</a>
                    </li>
                </ul>
            </nav>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>

                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </div>
    {#具体显示内容#}
    <div class="col-lg-8">
        {# 资料库管理模块 #}
        {% block check_data%}
        {% endblock %}
        {% block add_data %}
        {% endblock %}

        {#用户管理模块#}
        {% block create_user %}
        {% endblock %}
        {% block auth %}
        {% endblock %}
        {% block edit_user %}
        {% endblock %}
        {% block change_pwd %}
        {% endblock %}
        {% block user_info %}
        {% endblock %}
        {% block search_user %}
        {% endblock %}

        {# 员工管理模块 #}
        {# to do... #}

        {# 客户管理模块 #}
        {% block organ %}
        {% endblock %}
        {# to do... #}
    </div>
    {#右侧显示内容(预留)  #}
    <div class="col-lg-2">

    </div>
</div>
{#尾部#}
<div></div>
</body>
<script src="/static/bootstrap/js/huadong.js"></script>
<script src="/static/bootstrap/jquery-1.8.3.js"></script>
</html>